.bus-info {
    color: red;
    font-weight: bold;
    display: none;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.welcomeTitle {
    text-align: center;
}

.route-number {
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
}

.currentDateTime {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}



.clock-time {
    display: block;
    margin: 0 auto;
     
}